:root {
	--primary-color: #e50914;
	--dark-color: #141414;
}

html {
	height: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background: #000;
	color: white;
	min-height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

img {
	width: 100%;
}

/* Registration */
.background {
	width: 100%;
	background-color: var(--primary-color);
	background-image: -webkit-linear-gradient(120deg, var(--primary-color) 50%, whitesmoke 0%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5%;
}

.upper {
	text-align: center;
}

.upper img {
	width: 120px;
}

.boxForm {
	width: 50%;
	margin: auto;
	margin-top: 30px;
	background: rgba(226, 226, 226, 0.9);
	border: #ccc solid 1px;
	border-radius: 20px;
	box-shadow: 20px 20px 50px 15px black;
	padding: 2em;
	color: var(--dark-color);
	font-family: "Montserrat", sans-serif;
}

.boxForm h1 {
	text-align: center;
}

form {
	margin: auto;
	width: 100%;
	margin-left: 20%;
	margin-top: 2%;
}

form label {
	display: block;
	padding: 0.5em 0;
}

form input {
	margin-bottom: 2em;
	border-radius: 5px;
	border: none;
	padding: 5px 0 0 10px;
	width: 60%;
}

.heading-underline {
	text-decoration: underline;
}

.formDiv {
	position: relative;
}

.formDiv i {
	position: absolute;
	top: 46%;
	right: 41%;
	visibility: hidden;
}

.formDiv small {
	visibility: hidden;
	position: absolute;
	top: 80%;
	left: 0;
}

.formDiv.success input {
	border: 2px solid #2ecc71;
}

.formDiv.success i.fa-check-circle {
	visibility: visible;
	color: #2ecc71;
}

.formDiv.error input {
	border: 2px solid #e74c3c;
}

.formDiv.error i.fa-exclamation-circle {
	visibility: visible;
	color: #e74c3c;
}

.formDiv.error small {
	visibility: visible;
	color: #e74c3c;
}

.playersData {
	margin-top: 20px;
	margin-bottom: 10px;
}

.alert {
	margin-top: 10px;
	width: 60%;
}

.payment p {
	font-size: 1.2em;
}

.alert a {
	text-decoration: underline;
	color: inherit;
}

.alert a:hover {
	opacity: 0.5;
}

@media screen and (max-width: 800px) {
	.background {
		padding-bottom: 20%;
	}

	.upper img {
		width: 100px;
	}

	.boxForm {
		width: 80%;
	}

	.alert {
		margin-top: 10px;
		width: 60%;
	}

	.payment p {
		font-size: 1em;
		width: 70%;
	}

	.alert a:hover {
		opacity: 0.5;
	}

	.btnRegister {
		width: 60%;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 500px) {
	.boxForm {
		width: 90%;
	}

	.boxForm h1 {
		font-size: 1.5em;
	}

	.boxForm h2 {
		font-size: 1.3em;
	}

	form {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}

	form input {
		width: 100%;
	}

	.formDiv i {
		top: 46%;
		right: 3%;
	}

	.alert {
		margin-top: 10px;
		width: 100%;
		font-size: 0.9em;
	}

	.payment p {
		font-size: 1em;
		width: 100%;
	}

	.btnRegister {
		width: 100%;
		font-size: 0.8em;
	}
}
